<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>mon &Acirc;me Appointments</title>


    <!-- Used for making an url request to the Java application-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:8080/appointments/all",
                method: "GET",
                dataType: "json",
                success: function (data) {
                    var temp = "";
                    for (i = 0; i < data.length; i++) {
                        //temp += "<tr>" + "<td>" + data[i] + "</td>" + "</tr>";
                    }
                    $("#appointments").append(temp);
                    console.log(data);
                }
            });
        })
    </script>

</head>
<body>
    <table id="appointments">
        <tr>
            <td>Treatment name</td>
            <td>Starts at</td>
            <td>Treatment duration</td>
        </tr>
    </table>
</body>
</html>