<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>mon &acirc;me - Hudplejklinik v/ Frida Sandberg</title>
    <link href="css/tabStyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href='css/fullcalendar.min.css' rel='stylesheet'/>
    <link href='css/fullcalendar.print.min.css' rel='stylesheet' media='print'/>
    <script src='js/lib/moment.min.js'></script>
    <script src='js/lib/jquery.min.js'></script>
    <script src='js/fullcalendar.min.js'></script>
    <script src='js/generateEvents.js'></script>

    <!-- Used for making an url request to the Java application-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                defaultView: "agendaWeek",
                firstDay: 1,
                allDaySlot: false,
                minTime: "08:00:00",
                maxTime: "24:00:00",
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: "empty"
                },
                defaultDate: Date.now(),
                navLinks: false, // can click day/week names to navigate views
                businessHours: false, // display business hours
                editable: false,
                droppable: true,
                events: function (start, end, timezone, callback) {
                    var events = [];
                    $.ajax({
                        url: "http://localhost:8080/appointments/" + start._d.toISOString().substring(0, 10) + "/week",
                        method: "GET",
                        dataType: "json",
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                var appointment = data[i];
                                var date = getDateTime(appointment.dateAndTime.year, appointment.dateAndTime.monthValue, appointment.dateAndTime.dayOfMonth, appointment.dateAndTime.hour+2, appointment.dateAndTime.minute);
                                var start = new Date(date);

                                events.push({
                                    title: "appointment",
                                    start: start.toISOString().replace(".000Z", ""),
                                    end: moment(start).add(appointment.treatment.duration, 'm').toISOString().replace(".000Z", ""),
                                    overlap:false,
                                    color:"red"
                                });
                            }
                            callback(events);
                        }
                    });
                }
            });
            $.ajax({
                url: "http://localhost:8080/treatments/all",
                method: "GET",
                dataType: "json",
                success: function (data) {
                    var massageList = "";
                    var hairRemovalList = "";
                    var facialList = "";
                    var makeupList = "";
                    treatments = data;
                    for (var i = 0; i < data.length; i++) {
                        var categoryId = data[i].category;
                        var row = "<input type='radio' name='category' value='" + data[i].treatmentId + "'>" + "<b>Name: </b>" + data[i].name + "&nbsp;&nbsp;&nbsp;&nbsp;<b>Price:</b> " + data[i].price + " dkk " +
                            "&nbsp;&nbsp;&nbsp;&nbsp;<b>Duration:</b> " + timeToString(data[i].duration) + "</br>";
                        if (categoryId == "massage") {
                            massageList += row;
                            continue;
                        }
                        if (categoryId == "hair_removal") {
                            hairRemovalList += row;
                            continue;
                        }
                        if (categoryId == "facial") {
                            facialList += row;
                            continue;
                        }
                        if (categoryId == "makeup") {
                            makeupList += row;
                        }
                    }
                    $("#massage").append(massageList);
                    $("#hair_removal").append(hairRemovalList);
                    $("#facial").append(facialList);
                    $("#makeup").append(makeupList);
                }
            });
        });

    </script>
</head>
<div>
    <header>
        <!-- navigation bar -->
        <nav class="navbar transparent navbar-inverse">
            <div class="container">
                <!-- Logo -->
                <div class="navbar-header">
                    <a href="http://localhost:8080" class="navbar-brand" id="logo">Mon &Acirc;me</a>
                </div>

                <!-- Menu Items aligned right-->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right" id="list">
                        <li><a href="http://localhost:8080">HOME</a></li>
                        <li><a href="http://localhost:8080/treatments">TREATMENTS</a></li>
                        <li><a href="http://localhost:8080/appointments">BOOKING</a></li>
                    </ul>
                </div>
            </div>
            <div id="categoryGroup" class="tab tabcontent" style="display: block;">
                <button class="tablinks" onclick="openTab(event, 'massage', 'category')">Massage</button>
                <button class="tablinks" onclick="openTab(event, 'hair_removal', 'category')">Hair removal</button>
                <button class="tablinks" onclick="openTab(event, 'facial', 'category')">Facial</button>
                <button class="tablinks" onclick="openTab(event, 'makeup', 'category')">Makeup</button>
            </div>
        </nav>
    </header>

    <div>
        <!-- Treatment selection part-->
        <form id="treatmentInput">
            <div id="massage" class="category btn-group" style="display: block;" data-toggle="buttons"></div>
            <div id="hair_removal" class="category btn-group" style="display: none;" data-toggle="buttons"></div>
            <div id="facial" class="category" style="display: none;" data-toggle="buttons"></div>
            <div id="makeup" class="category" style="display: none;" data-toggle="buttons"></div>
        </form>
    </div>


    <script>
        function openUrl(url) {
            window.open(url, "_self");
        }

        function displayAppointmentCalendar() {
            var id = $('input[name=category]:checked', '#treatmentInput').val();
            if (id != 'on' && id > 0) {
                for (var i = 0; i < treatments.length; i++) {
                    if (treatments[i].treatmentId == id) {
                        selectTreatment(treatments[i]);
                        break;
                    }
                }
                $("#treatmentName").append(selectedTreatment.name);
                $("#treatmentDuration").append(timeToString(selectedTreatment.duration));
                $("#treatmentPrice").append(selectedTreatment.price + " dkk");
                $("#treatmentDate").append("Put a date here!!!");

                document.getElementById("treatmentInput").style.display = "none";
                document.getElementById("categoryGroup").style.display = "none";
                document.getElementById("nextBtn").onclick = getAppointmentTime;
                document.getElementById("backBtn").style.display = "block";
                //document.getElementById("nextBtn").className = document.getElementById("nextBtn").className.replace(" active", "");
                document.getElementById("backBtn").onclick = function () {
                    openUrl("http://localhost:8080/appointments");
                };
                openTab(event, 'calendar', "");
            } else {
                alert("select treatment first");
            }
        }
    </script>
</div>
<!-- End Treatment selection part-->

<!-- Date and Time selection part-->
<div id="calendar" class="tabcontent"></div>
<script>
    function getAppointmentTime() {
        document.getElementById("nextBtn").onclick = saveCustomerComment;
        document.getElementById("backBtn").onclick = goBackToTreatmentSelection;

        openTab(event, "summary", "tabcontent");
    }

    function goBackToTreatmentSelection() {
        document.getElementById("nextBtn").onclick = getAppointmentTime;
        document.getElementById("backBtn").onclick = function () {
            openUrl("http://localhost:8080/appointments");
        };
        openTab(event, "calendar", "tabcontent");
    }
</script>
<!-- End of Date and Time selection part-->

<!-- Appointment information part-->
<div class="tabcontent" id="summary">
    Treatment name: <label id="treatmentName"></label><br>
    Duration: <label id="treatmentDuration"></label><br>
    Price: <label id="treatmentPrice"></label><br>
    Date: <label id="treatmentDate"></label><br>
    Comment: <input type="text" title="comment" id="comment" width="150" height="50"><br>
</div>
<script>
    function saveCustomerComment() {
        var comment = document.getElementById("comment").value.toString();
        addComment(comment);
        document.getElementById("nextBtn").style.display = "none";

        document.getElementById("backBtn").onclick = goBackToCustomerComment;
        openTab(event, 'customerInfo', "tabcontent");
    }

    function goBackToCustomerComment() {
        document.getElementById("nextBtn").style.display = "block";
        document.getElementById("nextBtn").onclick = saveCustomerComment;
        document.getElementById("backBtn").onclick = goBackToTreatmentSelection;
        openTab(event, "summary", "tabcontent");
    }
</script>
<!-- End Appointment information part-->


<!-- Customer information part-->
<div class="tabcontent container-fluid" id="customerInfo" align="center">
    <div class="row">
        <h1 align="center">Customer information</h1>
        <div class="col-md-6">
            Sign in as a guest<br>
            Name: <input title="name" type="text" id="guestFName"><br><br>
            Surname: <input title="surname" type="text" id="guestLName"><br><br>
            Birthday: <input title="birthday" type="date" id="guestBirthday"><br><br>
            Phone number: <input title="phone" type="text" id="guestPhone"><br><br>

            <script>function guestInfoSubmit() {
                var fName = document.getElementById("guestFName").value;
                var lName = document.getElementById("guestLName").value;
                var birthday = document.getElementById("guestBirthday").value;
                var phoneNumber = document.getElementById("guestPhone").value;
                var result = addAppointmentForGuest("2017-12-23T12:00", fName, lName, phoneNumber, "");
                console.log(result);
                openTab('event', "confirmationTab", "tabcontent");
            }</script>
            <button type="button" class="btn btn-default" onclick="guestInfoSubmit()">SUBMIT</button>
        </div>
        <div class="col-md-6">
            Already have an account:<br><br>
            Email: <input title="email" type="text" id="email"><br><br>
            Password: <input title="password" type="password" id="password"><br><br>
            <label onclick="alert('Reset password');">Forgot password</label><br><br>
            <a href="http://localhost:8080/customerAccount" target="_blank" rel="noopener" class="btn btn-primary">Create
                new
                account</a>
            <br><br>
            <script>function accountInfoSubmit() {
                var email = document.getElementById("email");
                var password = document.getElementById("password");
                var result = addAppointment("2017-12-24T12:00", email, password);
                console.log(result);
                openTab('event', "confirmationTab", "tabcontent");
            }</script>
            <button type="button" class="btn btn-default" onclick="accountInfoSubmit()">Login</button>
        </div>
    </div>
</div>
<!-- End Customer information part-->


<!--Appointment confirmation part-->
<div class="tabcontent" id="confirmationTab">
    <h1 align="center">Your booking has been confirmed!</h1><br/>
    <div><b>First Name:</b> <label id="firstNameConfirm"/></div>
    <div><b>Surname:</b> <label id="lastNameNameConfirm"/></div>
    <div><b>Birthday:</b><label id="birthdayConfirm"/></div>
    <div><b>Phone No.:</b><label id="phoneNumberConfirm"/></div>
    <div><b>Email:</b><label id="emailConfirm"/></div>
    <br/>
    <div><b>Treatment Name:</b><label id="treatmentConfirm"/></div>
    <div><b>Duration:</b><label id="durationConfirm"/></div>
    <div><b>Price:</b><label id="priceConfirm"/></div>
    <div><b>Date:</b><label id="dateConfirm"/></div>
</div>
<!--End Appointment confirmation part-->

<footer class="navbar">
    <p class="text-right">
        <button id="backBtn" type="button" class="btn btn-secondary" style="display: none">BACK</button>
        <button id="nextBtn" type="button" class="btn btn-primary"
                onclick="displayAppointmentCalendar()">NEXT
        </button>
    </p>
</footer>

<script src="js/bootstrap.min.js"></script>
<script src="js/tabopener.js" type="text/javascript"></script>
<script src="js/bookAppointment.js" type="text/javascript"></script>
<script src="js/timeConverter.js" type="text/javascript"></script>
</body>
</html>
