<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Create new account</title>
</head>
<body>
<h1 align="center">Create new account</h1>

Name: <input title="name" type="text" id="Name"><br><br>
Surname: <input title="surname" type="text" id="Surname"><br><br>
Birthday: <input title="birthday" type="date" id="Birthday"><br><br>
Email: <input title="email" type="text" id="Email"><br><br>
Phone number: <input title="phone" type="text" id="Phone"><br><br>
<input type="checkbox" name="terms" value="terms"> I've read and accepted ur fck conditions<br>
<input type="checkbox" name="newsletter" value="Newsletter"> I want ur stupid mails<br>
<button onclick="guestInfoSubmit()">SUBMIT</button>

</body>
</html>
